body{
    background-color:#CBC0D3;
}

.header{
    padding: 10px;
    display: flex;
    /*ソースを付け足しました。*/
    justify-content:space-between;
    align-items: center;
}
h1{
    color: white;
}

#button1, #button2{
    display: inline-block;
    background-color: white;
    border-color: #CBC0D3;
    color: #CBC0D3;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    width: auto;
    padding: 8px;
    margin: 0 auto;
    margin-left: 15px;
}

.main-image{
    height:250px;
    overflow:hidden;
    background-size: cover;
    margin-bottom: 30px;
}
/*メイン部分*/

.blog-contents{
    display: flex;
    justify-content: center;
    gap: 0 30px;
    width: 70%;
    margin: 0 auto;
}
.category{
    width: 70%;
    height: auto;
    background-color: #EAC7CC;
    /*float : right;*/
    padding: 30px;
    margin: 0 auto 30px auto;
    text-align: center;
    /*新規追加*/
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}
.categorys{
    width : 35%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px;
}
.categorys a div img{
    width: 100%;
}

.profile-image{
    width: 240px;
    height: 240px;
    border: 2px solid white;
    border-radius: 5px;
    background-size: cover;
    padding: 10px;
    margin-bottom: 20px;
}

.profile{
    width: 240px;
    height: auto;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    color:  #CBC0D3;
    word-break:break-all;
    padding: 10px;
}

.comment{
    padding: 10px;
    width: 240px;
    height: 100px;
}

h3{
    text-align: left;
    color: white;
    display: inline-block;
}

#comment{
    height: 20px;
    width: 180px;
}

#write{
    height: 22px;
    text-align: center;
    background-color: white;
    border-color: #CBC0D3;
    color: #CBC0D3;
    border-radius: 4px;
}


footer{
    color: white;
    font-size: small;
    display: block;
    text-align: center;
} /*제일 아래로*/ 

/*追加ソース*/
/*ピンクの部分とプロフィールの部分を横ならびにする*/
.blog-contents{
    display: flex;
    justify-content: center;
}
